@import './reset.styl'
@import './variable.styl'
@import './icon.styl'

html, body
{
  // background-color: #fff;
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: $regulor-font;
  height: 100vh;
  margin: 0;
}

footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

a
{
  color: $color-light-pink;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}